span{
	color: grey;
}

.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

#share-buttons img {
float: left;
width: 1020px;
padding: 10px;
border: 2px solid black;
box-shadow: 0;

}